:root {
  --color-dark-blue: #2a2f43;   
  --color-slate-blue: #4a6072;  
  --color-olive-green: #9eab89; 
  --color-cream-beige: #f5f0d9; 

  --background: var(--color-cream-beige);
  --foreground: var(--color-dark-blue); 

  --bs-primary: var(--color-slate-blue);
  --bs-info: var(--color-olive-green);
  --bs-dark: var(--color-dark-blue);
  --bs-light: var(--color-cream-beige);   
  
  --bs-body-bg: var(--background);
  --bs-body-color: var(--foreground);
  
  --bs-body-font-family: var(--font-geist-sans);
  --bs-border-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark-blue);
    --foreground: var(--color-cream-beige);

    --bs-primary: var(--color-olive-green);
    --bs-info: var(--color-slate-blue);

    --bs-body-bg: var(--background);
    --bs-body-color: var(--foreground);
  }
}

html {
  color-scheme: dark;
}

body {
  max-width: 100vw;
  overflow-x: hidden;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
#contact{
  background: url(/images/map.jpg);
  background-size: cover;      
  background-repeat: no-repeat;  
  background-position: center; 
}

#footer {
  background-color: #262626;
}

#footer ul li a{
  color: #262626; 
  font-weight: 500;
  text-decoration: none;
}
#footer ul li a:hover {
  text-decoration: underline;
}
#footer ul li a{
  color: inherit; 
  font-weight: 500;
  text-decoration: none;
}
#footer ul li a:hover {
  text-decoration: underline;
}